/*-----MAIN PERSONALIZADAS-----*/

.fotosPersonalizadas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    padding: 12px;
    column-gap: 12px;
    row-gap: 16px;
    .personItem {
        position: relative;
        .personImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .personTitulo {
            position: absolute;
            bottom: 0;
            color: white;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
            width: 100%;
            margin: 0;
            padding: 10px;
            text-align: center;
        }
        &:nth-child(1) {
            grid-row-start: span 2;
        }
        &:nth-child(7) {
            grid-row-start: span 2;
        }
        &:nth-child(11) {
            grid-column-start: span 2;
            grid-row-start: span 2;
        }
        &:nth-child(12) {
            grid-row-start: span 2;
        }
    }
}