@import "../base/variables";

/*------MAIN SHOP------*/
#galeria {
    .text-center {
        h2 {
            color: nth($colores2, 8);
            font-size: nth($font-size, 4);
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }

        p {
            color: nth($colores2, 8);
            font-size: nth($font-size, 2);
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }
    }

    .row {
        margin: 0 20px 0 20px;
        .col-lg-4 {
            padding: 10px;
            z-index: 1;
            img {
                object-fit: cover;
                width: 100%;
                height: 350px;
                border: #232227 solid 3px;
                border-radius: 10px;
                @extend %sombreado;
                &:hover {
                    width: 101%;
                    height: 360px;
                    transition: all 0.5s ease-in-out;
                    border-radius: 40px;
                }
            }
        }
    }


}