/*LISTAS*/
$colores1:
#ecc536,
#003049,
#D62828,
#f77f00,
#fcbf49,
#eae2b7,
rgba(0, 0, 0, 0.8),
#FFFFFF,
rgb(161, 6, 6),
#181818;

$colores2:
#01161E,
#124559,
#598392,
#f7f7f2,
#e4e6c3,
#899878,
#222725,
#121113,
red;

$font_size:
20px,
25px,
30px,
40px,
50px,
70px;

/*MAPAS*/

